In [3]:
from sqlite3 import connect
import re
con = connect("Database_student.db")
x=con.cursor()
#x.execute("CREATE TABLE STUDENTRECORD(ID NUMBER(3) PRIMARY KEY ,NAME VARCHAR(20),LAST_NAME VARCHAR(20),CLASS NUMBER(3),ADDRESS VARCHAR(50),EMAIL_ID VARCHAR(20));")
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

# Database

In [5]:

while True:
    f=int(input("HOW MANY RECORD YOU WANT TO INSERT : "))
    for i in range(f):
        s_id=int(input("id :"))
        s_name=input("name :")
        s_last=input("Last name : ")
        s_class=int(input("Class :"))
        s_Add=input("Address of Student : ")
        s_Email=input("Email Id :")
        if(re.match(regex, s_Email)):
            print("Valid Email")
        else:
            print("Invalid Email")
            continue
        s_pic=input("Photo : ")
        data = (s_id,s_name,s_last,s_class,s_Add,s_Email,s_pic)
        x.execute("INSERT INTO STUDENTRECORD VALUES(?,?,?,?,?,?,?);",data)
        con.commit()
    n=input("u Want to insert data y/n : ")
    if n=='y':
        continue
    else:
        break
        
show=input("You want to show the records y/n : ")
x.execute("SELECT * FROM STUDENTRECORD;")
data = x.fetchall() 
for record in data:
    print(record)

HOW MANY RECORD YOU WANT TO INSERT : 2
id :1
name :mustafa
Last name : nahar
Class :12
Address of Student : pune
Email Id :abc@gmail.com
Valid Email
Photo : abc/abc.png
id :2
name :raza
Last name : abc
Class :12
Address of Student : pune
Email Id :abc1@gmail.com
Valid Email
Photo : ahbc/abgc.png

IntegrityError: UNIQUE constraint failed: STUDENTRECORD.ID